src/ServiceReferences/Service References/ApplicationSessionService/cgeers.wordpress.com.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="cgeers.wordpress.com" elementFormDefault="qualified" targetNamespace="cgeers.wordpress.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/CGeers.Wcf.Server.ApplicationSessionServiceLibrary" />
  <xs:element name="RegisterApplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="applicationId" type="q1:guid" />
        <xs:element minOccurs="0" name="petName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnregisterApplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="applicationId" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterWindow">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="windowId" type="q3:guid" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="applicationId" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnregisterWindow">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="windowId" type="q5:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisteredClients">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisteredClientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CGeers.Wcf.Server.ApplicationSessionServiceLibrary" minOccurs="0" name="RegisteredClientsResult" nillable="true" type="q6:ArrayOfClientApplication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MulticastMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="applicationId" type="q7:guid" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CGeers.Wcf.Server.ApplicationSessionServiceLibrary" minOccurs="0" name="urgency" type="q8:MessageUrgency" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MessageReceived">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CGeers.Wcf.Server.ApplicationSessionServiceLibrary" minOccurs="0" name="urgency" type="q9:MessageUrgency" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>